@import "./normalize.scss";
@import './vars.scss';

* {
  // color: $text-color;
}

body {
  background-color: var(--background-page-color);
}

::-moz-selection {
  background: $red-color;
  color: $text-color-neg;
}

::selection {
  background: $red-color;
  color: $text-color-neg;
}