$red-color: #FF4141;
$title-color: #1E1E1E;
$title-size: 46px;
$subtitle-color: #1E1E1E;
$subtitle-size: 24px;
$text-color: #151515;
$text-size: 18px;
$placeholder-color: #D8D8D8;
$logo-color: #1E1E1E;
$logo-size: 35px;
$input-font-size: 16px;
$header-color: #FFF;