@import "app/styles/vars";

.md-viewer {
  width: 50vw;
  max-height: calc(100vh - 150px) !important;
  min-height: 300px !important;
}

.md-editor {
  width: 50vw;
  height: auto !important;
  max-height: calc(100vh - 150px) !important;
  min-height: 300px !important;
}

.editor {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.main {
  display: flex;
  justify-content: center;
  justify-items: center;
  column-gap: 5px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: right;
  column-gap: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.fields div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}