@import "app/styles/vars";

.header {
  color: $text-color;
}

.main {
  background-color: $background-article-color;
  width: auto !important;
  min-width: 300px !important;
}

.body {

}

li {
  list-style: none;
}