@import "app/styles/vars";

.card {
  border-radius: 5px;
  border: 1px solid #A0A0A0;
  padding: 1rem;

  li {
    list-style: none;
    margin-left: 2rem;

    &::marker {
      content: "> ";
      color: $text-color;
      background-color: $text-color;
    }
  }

  .link {
    color: $red-color;
    font-size: $text-size;

    @media screen and (max-width: 400px) {
      //font-size: $text-size-xs;
    }
  }

  .subtitle {
    margin: 0;
    text-align: center;
    font-weight: 600;
  }
  
  .subsubtitle {
    margin: 0.5rem 0.5rem 0;
    font-size: $subsubtitle-size;
    font-weight: 600;
    
    &::before {
      content: "/ ";
      color: $red-color;
      top: 0;
    }

    @media screen and (max-width: 400px) {
      //font-size: $subsubtitle-size-xs;
    }
  }
}