@import "app/styles/vars";

.title {
  color: $title-color;
  font-size: $title-size;
  font-weight: bold;
  text-align: center;
  margin: 0 1rem 50px;
  overflow-wrap: break-word;

  &::before {
    content: "/// ";
    color: $red-color;
  }

  @media screen and (max-width: 400px) {
    font-size: $title-color-xs;
  }
}