@import "app/styles/vars";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: $header-color;
  transition: background 0.4s ease;
}

.collapse_btn {
  width: 20px;
  height: 20px;
  stroke: $text-color;
}

.wrapper_collapse_btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.search_theme_user {
  display: flex;
  position: absolute;
  right: 40px;
  align-items: center;
  column-gap: 40px;
}

.logo {
  position: relative;
  bottom: 5px;
}

.input {
  background-color: transparent;
}